* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}


.content-pos {
    display: flex;
    flex-direction: row-reverse;
}

.content-item-title-table {
    height: calc(100% - 272px);
    display: flex;
    flex-direction: column;
}

.content-item {
    height: 100vh;
    min-width: 650px;
    max-width: 650px;
    /*border: 1px solid #000;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #F1FBFD;
}

vr {
    border-left: 1px solid #ccc;
    height: 26px;
    margin: 11px 20px;
}

.content-item-title {
    color: #fff;
    background: #20B9BA;
    font-size: 18px;
    padding: 4px 13px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    height: 37px;
}

.content-item-calc-total {
    display: flex;
    justify-content: space-between;
    /*border-top: 1px solid #a5a5a5;*/
    border-right: 1px solid #a5a5a5;
}

.content-item-type-pyment {
    display: flex;
    border-radius: 0px 25px 25px 0px;
    padding: 0px 30px 0px 11px;
    background: #ff0045;
    color: #fff;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    font-weight: bold;
    margin-bottom: 3px;
    position: relative;
    box-shadow: 0 2px 0 #8b0026, 0 2px 6px hsla(0, 0%, 0%, 0.5);
}

.type_pyment-item {
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.not-border-end {
    border: none;
}


.type_pyment-item img {
    width: 100%;
    height: 36px;
    position: relative;
    transition: all 0.3s ease;
}

.type_pyment-item:hover img {
    transform: translateY(-4px);
}

.cash {
    border-bottom: 2px solid #fff;
}

.content-item-total {
    padding: 8px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.content-item-calc {
    display: flex;
    flex-direction: column;
    background: #d7d7d7;
    margin: 0 9px;
}

.content-item-anotate-full {
    display: flex;
    width: 100%;
}

.item-anotate {
    width: 50%;
    border: 1px solid rgba(148, 149, 149, 0.5);
    padding: 1px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: space-evenly;
}

.item-anotate .item-anotate-cash {
    display: flex;
    gap: 4px;
}

.item-anotate .item-anotate-cash {
    display: flex;
    gap: 4px;
}

.btn-caja {
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    color: #fff !important;
    font-weight: bold;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 4.5px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    background: #2c2c2c;
}

/* ---------------------  btn red ------------------ */
.btn-color-red {
    background: #ff0045;
    box-shadow: 0 2px 0 #8b0026, 0 2px 6px hsla(0, 0%, 0%, 0.5);
}

.btn-color-red:hover {
    background: #ec003f;
}

.btn-color-red:active {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
    box-shadow: 0 2px 0 #8b0026, 0 2px 4px hsla(0, 0%, 0%, 0.7);
}

/* ---------------------  btn secondary ------------------ */
.btn-color-secondary {
    background: #303d48;
    box-shadow: 0 2px 0 #1b2328, 0 2px 6px hsla(0, 0%, 0%, 0.5);
}

.btn-color-secondary:hover {
    background: #28333c;
}

.btn-color-secondary:active {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    -o-transform: translateY(1px);
    transform: translateY(1px);
    box-shadow: 0 2px 0 #1b2328, 0 2px 4px hsla(0, 0%, 0%, 0.7);
}

/* ---------------------  btn red ------------------ */


.item-anotate .item-anotate-module {
    display: flex;
    gap: 4px;
}

/*.item-anotate textarea {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    resize: none;*/
/*    border: none;*/
/*    box-sizing: border-box;*/
/*    padding: 10px;*/
/*    border-radius: 10px;*/
/*}*/

/*.item-anotate textarea:focus {*/
/*    border-color: #00a8e8; !* Cambia el color del borde al enfocarse *!*/
/*    box-shadow: 0 0 5px rgba(148, 149, 149, 0.5); !* Sombra suave al enfocarse *!*/
/*    outline: none;*/
/*}*/

.content-item-calc .amount {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content-item-calc .amount .amount-price {
    display: flex;
    height: 100%;

}

.content-item-calc .amount .amount-price .amount-label {
    padding: 10px;
    border-top: 1px solid #a5a5a5;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.content-item-calc .amount .amount-price .amount-input {
    padding: 5px;
    border-top: 1px solid #a5a5a5;
    border-left: 1px solid #a5a5a5;
    border-right: 1px solid #a5a5a5;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.content-item-calc .amount .amount-price .amount-input .sol-icons {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
    font-weight: bold;
    font-size: 13px;
}

.input_pyment {
    border: 2px solid #000000A8 !important;
}

.content-item-calc .amount .amount-price .amount-input input {
    font-size: 13px;
    border-radius: 9px;
    width: 100%;
    padding: 7px 10px 7px 33px;
    border: 1px solid #aeaeae;
    outline: none;
}

.content-item-calc .amount .amount-price .amount-input input:focus {
    border-color: #a5a5a5; /* Cambia el color del borde al enfocarse */
    box-shadow: 0 0 5px rgba(148, 149, 149, 0.5); /* Sombra suave al enfocarse */
}


.btn-pyment {
    font-size: 20px;
    cursor: pointer;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.2);
    border: 1px solid hsla(0, 0%, 100%, 0.2);
    color: #fff !important;
    font-weight: bold;
    /*border-radius: 8px;*/
    padding: 16px 20px;
    margin-bottom: 11px;
    position: relative;
    display: inline-block;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    -o-transition: all 0.1s;
    transition: all 0.1s;
    background: #008185;
    box-shadow: 0 11px 0 #026062, 0 2px 6px hsla(0, 0%, 0%, 0.5);
}

.btn-pyment:active {
    -webkit-transform: translateY(7px);
    -moz-transform: translateY(7px);
    -o-transform: translateY(7px);
    transform: translateY(7px);
    box-shadow: 0 2px 0 #026062, 0 4px 6px hsla(0, 0%, 0%, 0.7);
}

.btn-pyment:hover {
    background: #006f74;
}


.content-product {
    width: 100%;
    height: 100vh;
    /*border-left: 1px solid rgb(52, 51, 56);*/
    background: #F1FBFD;
}

/*item category*/

.grid-category-list {
    display: grid;
    grid-template-columns: minmax(100px, 1fr);
    gap: 3px;
    width: 100%;
    height: calc(100vh - 149px);
    overflow-y: auto;
}

.grid-category-list::-webkit-scrollbar {
    width: 0;
}

.grid-category-list {
    scrollbar-width: none;
}

.content-category {
    width: 20%;
    text-align: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    background: #fff;
}

.grid-category-list::-webkit-scrollbar {
    width: 5px;
}

.grid-category-list::-webkit-scrollbar-thumb {
    background-color: #ff0045;
    border-radius: 15px;
}

.grid-category-list::-webkit-scrollbar-track {
    background-color: #fff;
}

/*.grid-category-list::-moz-scrollbar {*/
/*    width: 5px;*/
/*}*/

.grid-category-list::-moz-scrollbar-thumb {
    background-color: rgb(52, 51, 56);
    border-radius: 5px;
}

.grid-category-list::-moz-scrollbar-track {
    background-color: #f0f0f0;
}

.category_title {
    color: #fff;
    background: #20B9BA;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: 800;
    box-shadow: rgba(0, 0, 0, 0.25) 0 -1px 9px -2px;
    /*border-radius: 9px;*/
    height: 40px;
}

.arrow_down_category {
    color: #fff;
    background: #ff0045;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px -2px;
    padding: 5px;
    font-size: 13px;
    margin: 3px 3px;
    border-radius: 5px;
    font-size: 20px;
    /*position: sticky;*/
    /*top: 0;*/
    /*z-index: 100;*/
}

.products_title {
    color: #fff;
    background: #343338;
    font-size: 17px;
    padding: 10px;
    text-align: center;
    margin: 0 0 5px 0;
    font-weight: 800;
    height: 37px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category_item {
    /*border: 2px solid #20B9BA;*/
    background: #ECECEC;
    color: #949494;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px -2px;
    padding: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 5px;
    transition: 0.6s ease all;
    margin: 2px 5px;
}

.category_item:hover {
    background: #00B5B2;
    color: #fff;
}

.click_action_category_all {
    background: #ff0045;
    color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0 2px 2px -2px;
    padding: 10px;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    border-radius: 5px;
    margin: 0 3px;
}

.content-product-list {
    display: flex;
    flex-direction: column;
    width: 80%;

}

.content-inputs-search {
    display: flex;
}

.content-search-product-barcode {
    margin: 5px;
    position: relative;
    width: 30%;
}

.content-search-product-barcode input {
    font-size: 15px;
    border-radius: 10px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    padding: 8px 8px 8px 30px;
    border: 1px solid #ddd;
    outline: none;
}

.content-search-product-barcode .search-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555; /* Color del icono */
    cursor: pointer;
}

.content-search-product {
    margin: 5px;
    position: relative;
    width: 70%;
    /*box-shadow: rgba(0, 0, 0, 0.25) 0 -1px 9px -2px;*/
}

.content-search-product input {
    font-size: 15px;
    border-radius: 10px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    padding: 8px 8px 8px 30px;
    border: 1px solid #ddd;
    outline: none;
}

.content-search-product .search-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555; /* Color del icono */
    cursor: pointer;
}

/* Estilos adicionales cuando el input está enfocado */
.content-search-product input:focus {
    border-color: #a5a5a5; /* Cambia el color del borde al enfocarse */
    box-shadow: 0 0 5px rgba(148, 149, 149, 0.5); /* Sombra suave al enfocarse */
}

.content-search-product-barcode input:focus {
    border-color: #a5a5a5; /* Cambia el color del borde al enfocarse */
    box-shadow: 0 0 5px rgba(148, 149, 149, 0.5); /* Sombra suave al enfocarse */
}


/*item proecutos*/
.scroll-product {
    overflow: auto;
    padding: 8px 5px;
    height: calc(100vh - 101px);
}

.scroll-product::-webkit-scrollbar {
    width: 5px;
}

.scroll-product::-webkit-scrollbar-thumb {
    background-color: #ff0045;
    border-radius: 15px;
}

.scroll-product::-webkit-scrollbar-track {
    background-color: #fff;
}

/*.scroll-product::-moz-scrollbar {*/
/*    width: 5px;*/
/*}*/

.scroll-product::-moz-scrollbar-thumb {
    background-color: rgb(52, 51, 56);
    border-radius: 5px;
}

.scroll-product::-moz-scrollbar-track {
    background-color: #f0f0f0;
}


.grid-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
    gap: 8px;
    justify-items: center;
}

.producto-item {
    background: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0 4px 8px -3px;
    border-radius: 4px;
}

.content-img-product {
    width: 122px;
    height: 155px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.img-product-stock {
    position: absolute;
    background: #24bb00;
    left: 0;
    color: #fff;
    padding: 4px;
    border-radius: 0px 5px 5px 0px;
    font-size: 13px;

}

.img-product-price {
    position: absolute;
    background: #03B5B7;
    font-weight: bold;
    color: #fff;
    right: 0;
    padding: 4px;
    border-radius: 5px 0px 0px 5px;
    font-size: 13px;

}

.content-img-product img {
    object-fit: cover;
    object-position: center;
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: 100%;
    padding: 15px;
}

.img-product-name {
    position: absolute;
    background: #222222ba;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .25rem;
    font-size: 12px;
}

.img-product-name b {
    /*word-break: break-all;*/
}

.content-table {
    padding: 0 9px 0 9px;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-table::-webkit-scrollbar {
    width: 5px;
}

.content-table::-webkit-scrollbar-thumb {
    background-color: #ff0045;
    border-radius: 15px;
}

.content-table::-webkit-scrollbar-track {
    background-color: #fff;
}

/*.scroll-product::-moz-scrollbar {*/
/*    width: 5px;*/
/*}*/

.content-table::-moz-scrollbar-thumb {
    background-color: rgb(52, 51, 56);
    border-radius: 5px;
}

.content-table::-moz-scrollbar-track {
    background-color: #f0f0f0;
}

/*data table*/

/* Estilo básico para la tabla */
table.dataTable {
    width: 100%;
    font-size: 12px;
}

/* Estilo para las celdas de encabezado */
table.dataTable thead {
    background-color: #343338;
    padding: 8px;
    text-align: center !important;
    color: #fff;
}

/*table.dataTable tfoot {*/
/*    background-color: #343338;*/
/*    padding: 10px;*/
/*    text-align: left;*/
/*    color: #fff;*/
/*}*/

/* Estilo para las celdas de datos */
table.dataTable tbody td {
    padding: 5px 20px !important;
}


.touch-input {
    border-radius: 4px;
    padding: 5px;
    width: 50%;
    border: 1px solid #ddd;
    outline: none;
    text-align: center;

}

.span-input-cant {
    position: relative;
}


.bootstrap-touchspin-up {
    padding: 5px;
    background: #4CAF50;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.bootstrap-touchspin-down {
    padding: 5px;
    background: #ff3f3f;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.btn_detele_item_table {
    padding: 4px;
    font-size: 10px;
    background: #ff3f3f;
    border: none;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

/* inpust sweet Alert */
.swal2-input {
    font-size: 17px !important;
    border: 1px solid #343338 !important;
    border-radius: 9px !important;
    padding: 8px !important;
}

#id_swal_description {
    height: 100px !important;
    width: 350px !important;
}

.swal2-input:focus {
    outline: none !important;
    box-shadow: none !important;
    border: 2px solid #343338 !important;
}

.jconfirm-buttons .btn-primary {
    background: rgba(7, 107, 214, 0.88) !important;
    color: #fff;
}

.jconfirm-buttons .btn-primary:hover {
    background: rgba(3, 83, 169, 0.88) !important;
}

.dt-paging-button {
    margin: 0 !important;
    padding: 0 !important;
}

.dt-paging-button .page-link {
    margin: 0 !important;
}

.dt-paging-button .page-link:hover {
    background-color: #4B38B3; /* Puedes ajustar este color según tu diseño */
    text-decoration: none; /* Elimina cualquier subrayado al pasar el ratón */
}

#tblViewCash, #tblViewMovements, #tblViewExpense, #tblViewSale, #tblViewSaleDetails, #tblViewIncome {
    font-size: 14px;
}

.dataTablesMovements_scroll, .dataTablesCash_scroll, .dataTablesExpense_scroll, .dataTablesSale_scroll, .dataTablesSaleDetail_scroll, .dataTablesIncome_scroll {
    overflow: initial;
    position: relative;
}

thead tr {
    background: #343338;
    position: sticky;
    top: -20px;
    z-index: 10;
}

/*.ui-autocomplete {*/
/*  z-index:2147483647;*/
/*}*/