* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
}


.content-pos {
    display: flex;
}

.content-item-title-table {
    height: calc(100% - 294px);
    display: flex;
    flex-direction: column;
}

.content-item {
    height: 100vh;
    min-width: 650px;
    max-width: 650px;
    /*border: 1px solid #000;*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

vr {
    border-left: 1px solid #ccc;
    height: 30px;
    margin: 14px;
}

.content-item-title {
    color: rgb(255, 255, 255);
    background: rgb(52, 51, 56);
    font-size: 16px;
    padding: 9px 13px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.content-item-calc-total {
    display: flex;
    justify-content: space-between;
    /*border-top: 1px solid #a5a5a5;*/
    border-right: 1px solid #a5a5a5;
}

.content-item-type-pyment {
    display: flex;
    border-radius: 0px 25px 25px 0px;
    /* border: solid; */
    background: #ff0045;
    color: #fff;
}

.type_pyment-item {
    padding: 9px;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;

}

.not-border-end {
    border: none;
}

.type_pyment-item img {
    width: 100%;
    height: 40px;
}


.content-item-total {
    padding: 12px;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.content-item-calc {
    display: flex;
    flex-direction: column;
    background: #d7d7d7;
}

.content-item-anotate-full {
    display: flex;
    width: 100%;
}

.item-anotate {
    width: 50%;
    border: 1px solid rgba(148, 149, 149, 0.5);
    padding: 10px;
}

.item-anotate textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
}

.item-anotate textarea:focus {
    border-color: #00a8e8; /* Cambia el color del borde al enfocarse */
    box-shadow: 0 0 5px rgba(148, 149, 149, 0.5); /* Sombra suave al enfocarse */
    outline: none;
}

.content-item-calc .amount {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.content-item-calc .amount .amount-price {
    display: flex;
    height: 100%;

}

.content-item-calc .amount .amount-price .amount-label {
    padding: 10px;
    border-top: 1px solid #a5a5a5;
    width: 100%;
    display: flex;
    align-items: center;
    font-weight: 800;
}

.content-item-calc .amount .amount-price .amount-input {
    padding: 5px;
    border-top: 1px solid #a5a5a5;
    border-left: 1px solid #a5a5a5;
    border-right: 1px solid #a5a5a5;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.content-item-calc .amount .amount-price .amount-input .sol-icons {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
    color: #555;
    cursor: pointer;
    font-weight: bold;
}

.content-item-calc .amount .amount-price .amount-input input {
    font-size: 15px;
    border-radius: 9px;
    width: 100%;
    padding: 10px 10px 10px 33px;
    border: 1px solid #ddd;
    outline: none;
}

.content-item-calc .amount .amount-price .amount-input input:focus {
    border-color: #a5a5a5; /* Cambia el color del borde al enfocarse */
    box-shadow: 0 0 5px rgba(148, 149, 149, 0.5); /* Sombra suave al enfocarse */
}


.btn-pyment {
    padding: 25px;
    background: #008185;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    border: none;
    cursor: pointer;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px -2px;

}

.content-product {
    width: 100%;
    height: 100vh;
    /*border-left: 1px solid rgb(52, 51, 56);*/
    background: #d7d7d7;
}

/*item category*/

.grid-category-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 3px;
    margin: 2px 14px 2px 14px;
}

.content-category {
    width: 100%;
    height: 170px;
    overflow: auto;
    text-align: center;
    cursor: pointer;

}

.content-category::-webkit-scrollbar {
    width: 15px;
}

.content-category::-webkit-scrollbar-thumb {
    background-color: #00BCD4;
    border-radius: 15px;
}

.content-category::-webkit-scrollbar-track {
    background-color: #f0f0f0;
}

.content-category::-moz-scrollbar {
    width: 30px;
}

.content-category::-moz-scrollbar-thumb {
    background-color: rgb(52, 51, 56);
    border-radius: 15px;
}

.content-category::-moz-scrollbar-track {
    background-color: #f0f0f0;
}

.category_title {
    color: rgb(255, 255, 255);
    background: rgb(52, 51, 56);
    font-size: 16px;
    padding: 11px;
    text-align: center;
    margin: 3px 5px 1px 5px;
    font-weight: 700;
}

.category_item {
    background-color: rgb(73, 181, 158);
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 10px -2px;
    padding: 15px;
    font-size: 13px;
}

.content-product-list {
    display: flex;
    flex-direction: column;
    height: calc(100% - 170px);
}

.content-search-product {
    margin: 5px;
    position: relative;
}

.content-search-product input {
    font-size: 15px;
    border-radius: 14px;
    width: 100%; /* Ajusta el ancho según sea necesario */
    padding: 10px 10px 10px 34px;
    border: 1px solid #ddd;
    outline: none;
}

.content-search-product .search-icons {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #555; /* Color del icono */
    cursor: pointer;
}

/* Estilos adicionales cuando el input está enfocado */
.content-search-product input:focus {
    border-color: #a5a5a5; /* Cambia el color del borde al enfocarse */
    box-shadow: 0 0 5px rgba(148, 149, 149, 0.5); /* Sombra suave al enfocarse */
}


/*item proecutos*/
.scroll-product {
    overflow: auto;
    padding: 8px;
}

.grid-product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 8px;
    justify-items: center;
}

.producto-item {
    background: #fff;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}

.content-img-product {
    width: 120px; /* Ancho del contenedor, ajusta según sea necesario */
    height: 140px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
}

.img-product-stock {
    position: absolute;
    background: #24bb00;
    left: 0;
    color: #fff;
    padding: 4px;
    border-radius: 0px 5px 5px 0px;
    font-size: 13px;

}

.img-product-price {
    position: absolute;
    background: #076bd6;
    font-weight: bold;
    color: #fff;
    right: 0;
    padding: 4px;
    border-radius: 5px 0px 0px 5px;
    font-size: 13px;

}

.content-img-product img {
    object-fit: cover;
    object-position: center;
    width: 100%; /* Hace que la imagen ocupe el 100% del ancho del contenedor */
    height: 100%;
}

.img-product-name {
    position: absolute;
    background: #222222ba;
    color: #fff;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .25rem;
    font-size: 14px;
}

.img-product-name b {
    word-break: break-all;
}

.content-table {
    padding: 9px;
    overflow: auto;
}

/*data table*/

/* Estilo básico para la tabla */
table.dataTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 13px;

}

/* Estilo para las celdas de encabezado */
table.dataTable thead {
    background-color: #343338;
    padding: 10px;
    text-align: left;
    color: #fff;
}

/*table.dataTable tfoot {*/
/*    background-color: #343338;*/
/*    padding: 10px;*/
/*    text-align: left;*/
/*    color: #fff;*/
/*}*/

/* Estilo para las celdas de datos */
table.dataTable tbody td {
    padding: 5px 20px !important;
}


