{% load static %}
{% load l10n %}
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PoshSellsPOS</title>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;1,700&family=Nunito:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- Layout config Js -->
    <script src="{% static 'libs/admin/js/layout.js' %}"></script>
    <!-- Bootstrap Css -->
    <link href="{% static 'libs/admin/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- Icons Css -->
    <link href="{% static 'libs/admin/css/icons.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- App Css-->
    <link href="{% static 'libs/admin/css/app.min.css' %}" rel="stylesheet" type="text/css"/>
    <!-- custom Css-->
    <link href="{% static 'libs/admin/css/custom.min.css' %}" rel="stylesheet" type="text/css"/>

    <link rel="stylesheet" href="{% static 'libs/dataTable/dataTables.dataTables.css' %}">
    <link rel="stylesheet" href="{% static 'libs/dataTable/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.css' %}">
    <link rel="stylesheet" href="{% static 'libs/jquery-confirm-v3.3.4/jquery-confirm.min.css' %}">
    <link rel="stylesheet" href="{% static 'libs/jquery-ui-1.12.1/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

<div class="content-pos">
    <div class="content-item">
        <div class="content-item-title-table">
            <div class="content-item-title">
                <div>
                    <i class="fa-solid fa-user-large"></i> Nataly Neyra Tello
                </div>
                <i class="fa-solid fa-pen"></i>
            </div>
            <div class="content-table">
                <table id="myTable" class="display" style="width:100%">
                    <thead>
                    <tr>
                        <th>Borrar</th>
                        <th style="width: 187px !important;">Producto</th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="content-item-calc">
            <div class="content-item-calc-total">
                <div class="content-item-type-pyment">
                    <div class="type_pyment-item click_action_type_pyment cash" data-type-pyment="Cash">
                        <img src="{% static 'img/efectivo.png' %}" alt="">
                    </div>
                    <vr></vr>
                    <div class="type_pyment-item click_action_type_pyment" data-type-pyment="Yape-Plin">
                        <img src="https://rol-peru.com/wp-content/uploads/2023/05/logo-yape-plin.png" alt="">
                    </div>
                    <vr></vr>
                    <div class="type_pyment-item click_action_type_pyment" data-type-pyment="Transfer">
                        <img src="{% static 'img/tarjeta-credito-logo.png' %}" alt="">
                    </div>
                </div>
                <div class="content-item-total ">
                    Total: S/&nbsp; <span class="session_total"> 0.00</span>
                </div>
            </div>
            <div class="content-item-anotate-full">
                <div class="item-anotate">
                    <div class="item-anotate-cash">
                        <button type="button" id="id_modalCashView" class="btn-caja btn-color-secondary" data-bs-toggle="modal" data-bs-target="#myModalCashView">
                            <i class="fa-solid fa-cash-register"></i> Ver Caja
                        </button>
                        <button type="button" data-bs-toggle="modal" id="id_btn_closingcash" data-bs-target="#myModalClosingCash" class="btn-caja  btn-color-red">
                            <i class="fa-solid fa-shop-slash"></i>
                            Cerrar Caja
                        </button>
                    </div>
                    <div class="item-anotate-module">
                        <button type="button" id="id_btn_expense" class="btn-caja btn-color-secondary" data-bs-toggle="modal" data-bs-target="#myModalExpense">
                            <i class="fa-solid fa-sack-dollar"></i> Mis Gastos
                        </button>

                        <button type="button" class="btn-caja btn-color-secondary" id="id_btn_modalSaleView" data-bs-toggle="modal" data-bs-target="#myModalSaleView">
                            <i class="fa-regular fa-folder-open"></i> Ventas
                        </button>

                        <button type="button" class="btn-caja btn-color-secondary" data-bs-toggle="modal" data-bs-target="#myModalIncome">
                            <i class="fa-solid fa-cart-shopping"></i> Compras
                        </button>
                    </div>

                </div>

                <div class="amount">
                    <div class="amount-price">
                        <div class="amount-label">
                            TOTAL
                        </div>
                        <div class="amount-input">
                            <input type="text" value="0.00" class="input_total" name="total" readonly>
                            <div class="sol-icons">
                                S/
                            </div>
                        </div>
                    </div>

                    <div class="amount-price">
                        <div class="amount-label">
                            PAGO
                        </div>
                        <div class="amount-input">
                            <input type="text" placeholder="0.00" class="input_pyment" name="pyment">
                            <div class="sol-icons">
                                S/
                            </div>
                        </div>
                    </div>

                    <div class="amount-price">
                        <div class="amount-label">
                            VUELTO
                        </div>
                        <div class="amount-input">
                            <input type="text" value="0.00" class="input_vuelto" name="vuelto" readonly>
                            <div class="sol-icons">
                                S/
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button class="btn-pyment" id="id_btn_pyment" type="button">PAGAR
                <i class="fa-solid fa-circle-chevron-right"></i>
            </button>
        </div>
    </div>
    <div class="content-product">
        <div class="products_title">
            <span>JATWAREZ-POS</span>
            <img src="https://promocion.casamarket.pe/wp-content/uploads/2023/05/Logo-CasaMarket-1.png" width="160px" height="30px" alt="">
            <span>
                <i class="fa-solid fa-gear"></i>&nbsp;&nbsp;
                <i class="fa-solid fa-bell"></i>
            </span>
        </div>


        <div style="display: flex">
            <div class="content-category">
                <div class="click_action_category_all">
                    LISTAR CATEGORÍAS
                </div>
                <div class="grid-category-list">

                    {% for get_category in get_category_list %}
                        <div class="category_item click_action_category" data-category-id="{{ get_category.id }}">
                            {{ get_category.name|upper }}
                        </div>
                    {% endfor %}
                </div>
                <div class="arrow_down_category">
                    <i class="fa-solid fa-chevron-down"></i>
                </div>
            </div>

            <div class="content-product-list">
                <div class="content-inputs-search">
                    <div class="content-search-product-barcode">
                        <input type="text" name="search_product-barcode" id="id_search_product-barcode" placeholder="Scan Code">
                        <div class="search-icons">
                            <i class="fa-solid fa-barcode"></i>
                        </div>
                    </div>
                    <div class="content-search-product">
                        <input type="text" name="search_product" id="id_search_product" placeholder="Buscador de productos...">
                        <div class="search-icons">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </div>
                    </div>
                </div>

                <div class="scroll-product">
                    <div class="grid-product-list">
                        {% for get_product in get_product_list %}
                            <div class="producto-item click_action" data-product-id="{{ get_product.id }}">
                                <div class="content-img-product">
                                    <div class="img-product-stock">
                                        {% if get_product.stock|floatformat == get_product.stock|floatformat:'0' %}
                                            {{ get_product.stock|floatformat:'0'}}
                                        {% else %}
                                            {{ get_product.stock }}
                                        {% endif %}
                                    </div>
                                    <div class="img-product-price">S/ {{ get_product.sale_price|unlocalize }}</div>
                                    <img src="{{ get_product.image.url }}" alt="">
                                    <div class="img-product-name">
                                        <b>{{ get_product.name }}</b>
                                    </div>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modals Caja-->
<div id="myModalCashView" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="myModalLabel">Ver Caja / Administración de Caja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dataTablesCash_scroll">
                    <table id="tblViewCash" class="display" style="width:100%; ">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Usuario</th>
                            <th>F. Apertura</th>
                            <th style="background: #17b200">M. Apertura</th>
                            <th>F. Cierre</th>
                            <th style="background: #c82222">M. Cierre</th>
                            <th>Diferencia</th>
                            <th>Ganancia Neto</th>
                            <th>M. Caja</th>
                            <th>Estado</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modals movimientos-->
<div id="myModalMovements" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog  modal-dialog-scrollable modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="myModalLabel">Ver Caja / Movimiento de Caja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dataTablesMovements_scroll">
                    <table id="tblViewMovements" class="display" style="width:100%; ">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Fecha</th>
                            <th>Detalle</th>
                            <th>T/Operación</th>
                            <th>T/Movimiento</th>
                            <th style="background: #17b200">M. Ingreso</th>
                            <th style="background: #c82222">M. Egreso</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modals gastos-->
<div id="myModalExpense" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="myModalLabel">Mis Gastos / Agregar Gasto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 mb-1">
                                <label for="id_expense_type">Tipo de Gasto:</label>
                                {{ expense_form.expense_type }}
                            </div>
                            <div class="col-lg-12 mb-1">
                                <label for="id_amount">Monto S/:</label>
                                {{ expense_form.amount }}
                            </div>

                        </div>

                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-lg-12 mb-1">
                                <label for="id_description">Describe el Gasto:</label>
                                {{ expense_form.description }}
                            </div>
                            <div class="col-lg-12 mb-1">
                                <button id="btn_save_expense" class="btn btn-success w-100 rounded-pill" type="submit">
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="dataTablesExpense_scroll">
                    <table id="tblViewExpense" class="display" style="width:100%; ">
                        <thead>
                        <tr>
                            <th>F. Registro</th>
                            <th>T. Gasto</th>
                            <th>Descripción</th>
                            <th style="background: #17b200">Monto</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>


    </div>
</div>

<!-- Modals ventas-->
<div id="myModalSaleView" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog  modal-dialog-scrollable modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="myModalLabel">Ventas / Listado de Ventas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dataTablesSale_scroll">
                    <table id="tblViewSale" class="display" style="width:100%; ">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Vendedor</th>
                            <th>M. Pago</th>
                            <th style="background: rgba(7,107,214,0.88)">Efectivo Recibido</th>
                            <th style="background: #c82222">Cambio</th>
                            <th>Subtotal</th>
                            <th style="background: #17b200">Total</th>
                            <th>Acciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modals ventas detalles-->
<div id="myModalSaleDetailsView" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="myModalLabel">Ventas / Detalle de Venta</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="dataTablesSaleDetail_scroll">
                    <table id="tblViewSaleDetails" class="display" style="width:100%; ">
                        <thead>
                        <tr>
                            <th>N°</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            <th>Subtotal</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Modals Ingreso-->
<div id="myModalIncome" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="myModalLabel">Compras / Registrar Compra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 mb-1">
                            <label for="id_expense_type">Proveedor:</label>
                            {{ purchase_form.provider }}
                        </div>
                        <div class="col-lg-3 mb-1">
                            <label for="id_expense_type">Tipo Comprobante:</label>
                            {{ purchase_form.receipt_type }}
                        </div>
                        <div class="col-lg-3 mb-1">
                            <label for="id_amount">Serie:</label>
                            <input type="text" name="serie" class="form-control" value="BBB1">
                        </div>
                        <div class="col-lg-3 mb-1">
                            <label for="id_amount">N° Serie:</label>
                            <input type="text" name="number_serie" class="form-control" placeholder="Ingrese n° serie">
                        </div>
                        <div class="col-lg-4 mb-1">
                            <label for="id_expense_type">Fecha Comprobante:</label>
                            <input type="date" name="date_voucher" class="form-control">
                        </div>
                        <div class="col-lg-8 mb-1">
                            <label for="id_description">Observaciones:</label>
                            {{ purchase_form.description_purchase }}
                        </div>
                    </div>

                </div>
                <div class="pt-2 pb-2 mt-2 mb-2 border border-dashed border-end-0 border-start-0">
                    <div class="row ">
                        <div class="col-lg-4 mb-1">
                            <label for="id_amount"><i class="fa-solid fa-barcode"></i> Codigo Barras:</label>
                            <input type="text" id="id_barcode_product_all" placeholder="Scan Code" class="form-control">
                        </div>
                        <div class="col-lg-8 mb-1">
                            <label for="id_amount">Buscador de productos:</label>
                            <div class="search-box">
                                <input type="text" id="id_list_search_ui" class="form-control search" placeholder="Busqueda por nombres, categorías...">
                                <i class="ri-search-line search-icon"></i>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="dataTablesIncome_scroll">
                    <table id="tblViewIncome" class="display" style="width:100%; ">
                        <thead>
                        <tr>
                            <th>Acciones</th>
                            <th>Producto</th>
                            <th>Stock</th>
                            <th>P.Compra</th>
                            <th>Cantidad</th>
                            <th style="background: #ebb00c">Subtotal</th>
                            <th>P.Venta</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>

                    <div class="mt-3 row d-flex flex-row-reverse">
                        <div class="col-lg-6">
                            <table class="table table-bordered table-sm">
                                <tbody>
                                <tr>
                                    <td><b> SUBTOTAL </b></td>
                                    <td>
                                        <div class="input-group">
                                                        <span style="border-color: #ebb00c;background: #ebb00c;color: #fff;"
                                                              class="input-group-text"><strong>S/.</strong></span>
                                            <input style="border-color: #ebb00c;" type="text" name="subtotal_all"
                                                   value="0.00"
                                                   class="form-control"
                                                   id="id_subtotal_all"
                                                   readonly>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>IGV </b></td>
                                    <td>
                                        <div class="input-group">
                                                        <span style="border-color: #343a40;background: #343a40;color: #fff;"
                                                              class="input-group-text"><strong>S/.</strong></span>
                                            <input style="border-color: #343a40;" type="text" name="igv_all"
                                                   value="0.18"
                                                   class="form-control"
                                                   id="id_igv_all"
                                                   readonly>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b> IGV CALCULADO </b></td>
                                    <td>
                                        <div class="input-group">
                                                        <span style="border-color: #343a40;background: #343a40;color: #fff;"
                                                              class="input-group-text"><strong>S/.</strong></span>
                                            <input style="border-color: #343a40;" type="text" name="igv_calc_all"
                                                   value="0.00"
                                                   class="form-control"
                                                   id="id_igv_calc_all"
                                                   readonly>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><b>TOTAL</b></td>
                                    <td>
                                        <div class="input-group">
                                                        <span style="border-color: #009914;background: #009914;color: #fff;"
                                                              class="input-group-text"><strong>S/.</strong></span>
                                            <input style="border-color: #009914;" value="0.00" type="text" name="total_all" class="form-control" id="id_total_all"
                                                   readonly>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="id-send-purchase" class="btn btn-success" data-bs-dismiss="modal">GUARDAR
                </button>
            </div>
        </div>


    </div>
</div>

<!-- Modals Ingreso-->
<div id="myModalClosingCash" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header bg-light p-3">
                <h5 class="modal-title" id="myModalLabel">Cerrar Caja</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="row">
                        <h4 class="text-center mb-4">Resumen de Cierre de Caja</h4>
                        <div class="col-lg-12 mb-1 content-cash">

                        </div>
                        <div class="col-lg-12 mb-1">
                            <label for="id_expense_type">Efectivo Real:</label>
                            <input type="number" id="input-real" value="0.00" class="form-control">
                        </div>
                        <h6 class="fs-15 mt-2 fw-semibold">Diferencia :
                            <span class="fw-normal price-diferents">S/ 0.00</span></h6>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" id="id-send-closing_cash" class="btn btn-success" data-bs-dismiss="modal">ACEPTAR
                    PARA CERRAR CAJA
                </button>
            </div>
        </div>


    </div>
</div>

<!-- JAVASCRIPT -->
<script src="{% static 'libs/admin/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'libs/admin/libs/simplebar/simplebar.min.js' %}"></script>
<script src="{% static 'libs/admin/libs/node-waves/waves.min.js' %}"></script>
<script src="{% static 'libs/admin/libs/feather-icons/feather.min.js' %}"></script>
<script src="{% static 'libs/admin/js/pages/plugins/lord-icon-2.1.0.js' %}"></script>
<script src="{% static 'libs/admin/js/plugins.js' %}"></script>
<script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
        crossorigin="anonymous"></script>
<script src="{% static 'libs/dataTable/dataTables.js' %}"></script>
<script src="{% static 'libs/dataTable/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'libs/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'libs/sweetalert2/sweetalert2.all.min.js' %}"></script>
<script src="{% static 'libs/jquery-confirm-v3.3.4/jquery-confirm.min.js' %}"></script>
<script src="{% static 'libs/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/function.js' %}"></script>

<script>
    let box_opening = {{ box_opening }};
</script>
<script src="{% static 'dashboard.js' %}"></script>
<script src="{% static 'js/box_point/list.js' %}"></script>
<script src="{% static 'js/sale/list.js' %}"></script>
<script src="{% static 'js/purchase/list.js' %}"></script>
<script>
    $(function () {

        let data_cart = {{ list_car|default:'[]' |safe }};
        let data_header_car = {{ request.session.product_header_car|default:'[]' |safe }};

        $(".session_total").html(data_header_car.total)
        $(".input_total").val(data_header_car.total)

        tblProduct.clear().rows.add(data_cart).draw();
    })

</script>
</body>
</html>